{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
	<h1>Add a page</h1>

	{{ form_start(add_form) }}
		{{ form_row(add_form.identifier) }}
		{{ form_row(add_form.addToNav) }}
		{{ form_row(add_form.public) }}
		
		{% for data in add_form.data %}
			{% include 'admin/pages/simple_text_page_bread/formComponent.html.twig' with {'data': data} %}
		{% endfor %}
		
		<input type="submit" value="Create page">
	{{ form_end(add_form) }}
{% endblock %}
