{% extends 'admin/base.html.twig' %}

{% block title %}Browse simple pages{% endblock %}

{% block main %}
	<h1>Browse all simple text pages</h1>
	
	<section class="list-browse">
		{% for page in pages %}
			<article class="border border-2">
				<h2>{{ page.identifier }}</h2>
				
				<section>
					{% for data in page.data %}
						<div class="accordion" id="accordion-data-{{ data.id }}">
							<div class="accordion-item">
								<h2 class="accordion-header" id="accordion-data-heading-{{ data.id }}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-data-collapse-{{ data.id }}" aria-expanded="true" aria-controls="accordion-data-collapse-{{ data.id }}">
										{{ data.supportedLanguage.countryCode ~ ', ' ~ data.title }}
									</button>
								</h2>
								
								<div id="accordion-data-collapse-{{ data.id }}" class="accordion-collapse collapse" aria-labelledby="accordion-data-heading-{{ data.id }}" data-bs-parent="#accordion-data-{{ data.id }}">
									<div class="accordion-body">
										<article>
											<h3>{{ data.title }}</h3>
											<p>{{ languageCode(data.supportedLanguage.countryCode) }}</p>
											
											<table class="table">
												<thead>
													<tr>
														<th scope="col">Name</th>
														<th scope="col">Data</th>
													</tr>
												</thead>
												
												<tbody>
													<tr>
														<td>Route</td>
														<td>{{ data.route }}</td>
													</tr>
													<tr>
														<td>Raw HTML</td>
														<td>
															<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#raw-html-{{ data.id }}">
																View
															</button>
															
															<div class="modal fade" id="raw-html-{{ data.id }}" tabindex="-1" aria-labelledby="raw-html-label-{{ data.id }}" aria-hidden="true">
																<div class="modal-dialog modal-xl">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="raw-html-label-{{ data.id }}">HTML</h5>
																			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																		</div>
																		<div class="modal-body">
																			{{ data.rawHtml }}
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</article>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<p class="alert alert-danger" role="alert">
							No page data found!
						</p>
					{% endfor %}
				</section>
			</article>
		{% else %}
			<p>None!</p>
		{% endfor %}
	</section>
{% endblock %}