{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
<h1>Edit page</h1>

{{ form_start(edit_form) }}

{{ form_row(edit_form.rawHtml, {'attr': {'class': 'ckeditor-classic-instance', 'required': false}}) }}

{{ form_row(edit_form.title) }}
{{ form_row(edit_form.identifier) }}
{{ form_row(edit_form.addToNav) }}
{{ form_row(edit_form.hotlink) }}

<input type="submit" value="Edit page">

{{ form_end(edit_form) }}

{% endblock %}
