{# var int headingStartsAtNum #}
{# var ProjectWidget widget #}

{% set num = uniqueInt() %}
<article class="detail border border-2">
	<h{{ headingStartsAtNum }}>{{ widget.identifier }}</h{{ headingStartsAtNum }}>
	
	<section>
		{% for data in widget.data %}
			<div class="accordion" id="accordion-data-{{ num }}-{{ data.id }}">
				<div class="accordion-item">
					<h{{ headingStartsAtNum }} class="accordion-header" id="accordion-data-heading-{{ num }}-{{ data.id }}">
						<button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-data-collapse-{{ num }}-{{ data.id }}" aria-expanded="true" aria-controls="accordion-data-collapse-{{ num }}-{{ data.id }}">
							{{ data.supportedLanguage.countryCode ~ ', ' ~ data.title }}
						</button>
					</h{{ headingStartsAtNum }}>
					
					<div id="accordion-data-collapse-{{ num }}-{{ data.id }}" class="accordion-collapse collapse" aria-labelledby="accordion-data-heading-{{ num }}-{{ data.id }}" data-bs-parent="#accordion-data-{{ num }}-{{ data.id }}">
						<div class="accordion-body">
							<article>
								<h{{ headingStartsAtNum + 1 }}>{{ data.title }}</h{{ headingStartsAtNum + 1 }}>
								<p>{{ languageCode(data.supportedLanguage.countryCode) }}</p>
								
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col">Data</th>
										</tr>
									</thead>
									
									<tbody>
										<tr>
											<td>Title</td>
											<td>{{ data.title }}</td>
										</tr>
										<tr>
											<td>Summary</td>
											<td>{{ data.summary }}</td>
										</tr>
									</tbody>
								</table>
							</article>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p class="alert alert-danger" role="alert">
				No widget data found!
			</p>
		{% endfor %}
	</section>
</article>