{% extends 'admin/widgets/browse.html.twig' %}

{% block title %}Browse widgets{% endblock %}

{% block table %}
    <thead>
        <tr class="bg-light">
            <th class="border p-2">Widget name</th>
            <th class="border p-2">Widget title</th>
            <th class="border p-2">Widget data</th>
            <th class="border text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit widget"><i class="fa-solid fa-pencil"></i></th>
            <th class="border text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete widget"><i class="fa-solid fa-trash"></i></th>
        </tr>
    </thead>

    <tbody>
        {% for widget in widgets %}
            <tr>
                <td class="border p-2">
                    <a class="btn btn-outline-primary" href="{{ path('admin_progress_widget_read', {id: widget.id}) }}" target="_SELF"><i class="fa-solid fa-file-lines"></i> {{ widget.name }}</a>
                </td>
                <td class="border p-2">
                    {{ widget.title }}
                </td>
                <td class="border p-2">
                    <ul class="list-group">
                        {% for bar in widget.progressBars %}
                            <li class="list-group-item">{{ bar.name }} : {{ bar.percentage }}%</li>
                        {% else %}
                            <li class="list-group-item">None.</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="border p-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit widget">
                    <a class="btn btn-outline-secondary" href="{{ path('admin_progress_widget_edit', {id: widget.id}) }}" target="_SELF">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                </td>
                <td class="border p-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete widget">
                    <a class="btn btn-outline-danger" href="{{ path('admin_progress_widget_delete', {id: widget.id}) }}" target="_SELF">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
