{# var string submitButtonText #}
{# var FormView form #}

{{ form_start(form) }}
	{{ form_row(form.identifier) }}
	{% for data in form.data %}
		<div class="accordion" id="accordion-data-{{ loop.index }}">
			<div class="accordion-item">
				<h2 class="accordion-header" id="accordion-data-heading-{{ loop.index }}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-data-collapse-{{ loop.index }}" aria-expanded="true" aria-controls="accordion-data-collapse-{{ loop.index }}">
						{{ data.vars.data.supportedLanguage.countryCode ~ ', ' ~ data.vars.data.title }}
					</button>
				</h2>
				
				<div id="accordion-data-collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="accordion-data-heading-{{ loop.index }}" data-bs-parent="#accordion-data-{{ loop.index }}">
					<div class="accordion-body">
						{{ form_row(data.title) }}
						{{ form_row(data.progressBars) }}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	
	<input class="btn btn-primary" type="submit" value="{{ submitButtonText }}">
{{ form_end(form) }}