{% extends 'admin/base.html.twig' %}

{% block title %}Browse pages{% endblock %}

{% block main %}
<h1>Edit page</h1>

{{ form_start(edit_form) }}

{{ form_row(edit_form.title) }}
{{ form_row(edit_form.name) }}

{{ form_row(edit_form.hotlink) }}

{{ form_row(edit_form.elements) }}

<input type="submit" value="Edit page">
{{ form_end(edit_form) }}

{% endblock %}
