{% extends 'admin/base.html.twig' %}

{% block title %}Edit complex page{% endblock %}

{% block main %}
	<h1>Edit page</h1>

	{{ form_start(edit_form) }}
		{{ form_row(edit_form.identifier) }}
		{{ form_row(edit_form.public) }}
		{{ form_row(edit_form.addToNav) }}

		{% for data in edit_form.data %}
			{% include 'admin/pages/complex_page_bread/formComponent.html.twig' with {'data': data} %}
		{% endfor %}

		<input class="btn btn-primary" type="submit" value="Confirm edit">
	{{ form_end(edit_form) }}
{% endblock %}
